/*General Styles*/
body {
    font-family: 'Rubik', sans-serif;
    line-height: 1.5;
    font-weight: 400;
    background-color: #fff;
    color: #202020;
    margin: 0;
    padding: 0;
}

div {
    display: block;
}

.navbar-top .container {
    width: 100%;
    padding-right: var(--bs-gutter-x,22px);
    padding-left: var(--bs-gutter-x,22px);
    margin-right: auto;
    margin-left: auto;
}

ul{
    list-style: none;
    box-sizing: border-box;
}

li {
    display: list-item;
    text-align: var(--webkit-match-parent);
}

a, input {
    font-size: inherit;
    font-weight: inherit;
}

a{
    color: inherit;
    text-decoration: none;
    background-color: initial;
}

a:any-link {
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}


/*Header*/
/*Banner*/


.navbar-top {
    background-color: #202020;
    color: #fff;
    padding: 7px 0;
    font-weight: 400;
}

.navbar-top .container {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.text-sm {
    font-size: 12px;
    line-height: 16px;
}

.navbar-top-list {
    color: #ffd919;
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    display: flex;
}

.navbar-top-list-item {
    white-space: nowrap;
}

.navbar-top-list-link {
    display: flex;
    -webkit-box-align: var(center);
    align-items: center;
}
/*Navbar*/
.navbar-box {
    position: relative;
    z-index: 100;
    -webkit-transition: background-color .2s ease;
    transition: background-color .2s ease;
}

.sticky-lg-top {
    background-color: #fff;
}

.fixed-top {
    background-color: #fff;
}

.navbar .nav-link:hover{
    color: #ffd919;
}

/*Footer*/
footer {
    font-weight: 400;
}

footer p {
    background-color: #202020;
    color: #fff;
}

.logo-pic {
    max-width: 30%;
    height: auto;
}

footer .nav-link{
    color: inherit;
}

footer .nav-link:hover {
    color: #ffd919;
}

/*Header*/
.head-banner-wrapper .lazyloaded {
    vertical-align: middle;
    height: 560px;
    width: auto;
    max-width: 100%;
}

.btn-xl {
    padding: 10px 20px;
    margin: 10px;
    align-items: center;
    min-width: 300px;
    width: 70%;
    height: 50px;
    font-weight: 400;
    box-shadow: 0 5px 20px;
}

/*Company Reputation*/

/*Loan-Types*/
.blog .carousel-indicators {
	left: 0;
	top: auto;
    bottom: -40px;

}

/* The colour of the indicators */
.blog .carousel-indicators li {
    background: #a3a3a3;
    border-radius: 50%;
    width: 8px;
    height: 8px;
}

.blog .carousel-indicators .active {
background: #707070;
}

  
